.display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 140px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: scrollZ;
  font-size: 0.8em;
}

.display input {
  border: none;
  outline: none;
  font-size: 1.8em;
}